<%= form_for(@dress_type) do |f| %>
  <% if @dress_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dress_type.errors.count, "error") %> prohibited this dress_type from being saved:</h2>

      <ul>
      <% @dress_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dress_id %><br>
    <%= f.text_field :dress_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
